* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7e7c7;
    background-image: url(./Images/desola-lanre-ologun-zYgV-NGZtlA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px) brightness(20%);
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    width: 27%;
    background: #F8F9FD;
    font-family: sans-serif;
    padding: 12px 30px 20px;
    border-radius: 30px;
    border: 5px solid #f1f1f1;
    box-shadow: 0px 10px 15px -9px rgb(16, 137, 211);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    z-index: 99;
}

.heading {
    text-align: center;
    color: rgb(16, 137, 211);
    padding: 20px 0px;
}

.input-box {
    /* background-color: red; */
    width: 100%;
    padding: 12px 0px;
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 16px 20px 16px 45px;
    border-radius: 50px;
    box-shadow: 0px 5px 10px -3px rgb(16, 137, 211, 0.5);
    outline: none;
    border: none;
    border-inline: 3px solid transparent;
}

.input-box input:focus{
    border-left: 3px solid rgb(16, 137, 211);
    border-right: 3px solid rgb(16, 137, 211);
}

.input-box i{
    position: absolute;
    top: 28px;
    left: 18px;
    font-size: 15px;
    color: rgb(16, 137, 211);
}


.forgot{
    margin: 10px 10px 15px;
}

.forgot a {
    color: rgb(16, 137, 211);
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}

.forgot a:hover{
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 15px 0px;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    color: white;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    transition: .5s ease-in-out;
    cursor: pointer;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 12px 10px -5px;
}

button:hover {
    background: linear-gradient(-45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    transform: scale(1.02);
}

button:active{
    transform: scale(.95);
}

.account-box{
    margin-bottom: 25px;
}

.account-box p{
    font-size: 12px;
    margin: 8px 10px;
    font-weight: 600;
    color: rgb(143, 139, 139);
}

.account-box p a{
    color: rgb(16, 137, 211);
    font-weight: 700;
}


.title {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: rgb(143, 139, 139);
    margin-top: 20px;
}

.social-box{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.social-box i{
    font-size: 16px;
    padding: 8px;   
    border-radius: 50%;
    color: white;
    background: linear-gradient(20deg, rgba(0, 0, 0, 0.651), rgb(43, 42, 42), #6b6969);
    box-shadow: 0px 2px 2px 2px white;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.418));
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.social-box i:nth-child(2){
    font-size: 20px;
    padding: 6px 8px;
}

.social-box i:hover{
    transform: scale(1.15);
}

.social-box i:active{
    transform: scale(.95);
}


.agreement{
    text-align: center;
}

.agreement a{
    font-size: 12px;
    text-decoration: none;
    color: rgb(16, 137, 211);
}

.signin-space-1,
.signin-space-1 .signin-stars {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}


.signin-space-1 .signin-stars {
    background-image: radial-gradient(2px 2px at 50px 200px, rgb(18, 177, 209), rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 40px 70px, #ffffff79, rgba(0, 0, 0, 0)), radial-gradient(3px 4px at 120px 40px, #ffffff79, rgba(0, 0, 0, 0));
    background-repeat: repeat;
    background-size: 250px 250px;
    opacity: 0;
    animation: zoom 10s infinite;
}

.signin-space-1 .signin-stars:nth-child(1) {
    background-position: 10% 90%;
    animation-delay: 0s;
}

.signin-space-2,
.signin-space-2 .signin-stars {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.signin-space-2 .signin-stars {
    background-image: radial-gradient(2px 2px at 50px 300px,  rgb(16, 137, 211), rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 50px 80px, #ffffff79, rgba(0, 0, 0, 0)), radial-gradient(3px 4px at 120px 40px, #ffffff79, rgba(0, 0, 0, 0));
    background-repeat: repeat;
    background-size: 250px 250px;
    opacity: 0;
    animation: zoom 12s infinite;
}

.signin-space-2 .signin-stars:nth-child(1) {
    background-position: 10% 90%;
    animation-delay: 0s;
}


@keyframes zoom {
    0% {
        opacity: 0;
        transform: scale(0.5);
        transform: rotate(5deg);
        animation-timing-function: ease-in;
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: .2;
        transform: scale(2.2);
    }

}